.container {
  display: flex;
  flex-direction: column;
}

.trigger {
  width: 100%;
  padding: rem(24px) rem(32px);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-sm);
  transition: border-radius 0.5s ease-out;

  @media (min-width: $mantine-breakpoint-md) {
    & span {
      font-size: rem(24px);
    }
  }
}

.container.opened .trigger {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.container.opened .collapse {
  border-end-end-radius: var(--mantine-radius-sm);
  border-end-start-radius: var(--mantine-radius-sm);
}

.container svg {
  transition: transform 0.2s ease-out;
}

.container.opened svg {
  transform: rotateZ(45deg);
}

.container .inner {
  display: flex;
  align-items: center;
}

.collapse {
  padding: rem(32px) rem(24px);
}

.collapse.inner {
  background-color: var(--mantine-color-dark-8);
}

.preLine {
  white-space: pre-line;
}
