.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.topbar {
  top: 0;
  width: 100%;
  position: absolute;
  padding: rem(20px) rem(36px);
  z-index: 1;
}

.topbar>.inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topbar .icon {
  width: rem(88px);
  height: rem(24px);
  color: var(--mantine-color-red-filled);
}

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: rem(32px) rem(24px);
  margin-bottom: rem(8px);
}

.container.banner {
  min-height: rem(240px);
  padding: rem(32px) rem(16px);
}

.banner>.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner .background>.inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.background>.inner img,
.background>.inner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background>.inner img {
  z-index: -1;
  transform: scale(1.25) translate(0, -10%);
  filter: brightness(0.6);
}

.background>.inner::before {
  content: '';
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%);
}

.banner>.content {
  height: 100%;
  padding: rem(144px) 0 rem(64px);
}

.container>.inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: rem(8px);
}

.footer {
  background-color: var(--mantine-color-black);
}

.footer a {
  text-decoration: underline;
}

.faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* @media screen and (min-width: 600px) {
  .banner {
    min-height: rem(256px);
    padding: rem(68px) 0 rem(24px);
  }
}

@media screen and (min-width: 960px) {
  .banner {
    min-height: rem(350px);
    padding: rem(79px) 0 rem(32px);
  }
} */