.container {
    width: inherit;
    margin: auto;
    padding: rem(24px) rem(24px);
}

.icon {
    width: rem(88px);
    height: rem(24px);
}

@media (min-width: 600px) {
    .container {
        padding-left: rem(32px);
        padding-right: rem(32px);
    }
}

@media (min-width: 960px) {
    .container {
        padding-left: rem(32px);
        padding-right: rem(32px);
    }

    .icon {
        width: rem(140px);
        height: rem(40px);
    }
}

@media (min-width: 1280px) {
    .container {
        padding-left: rem(48px);
        padding-right: rem(48px);
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: calc(83.33333333333334% - (rem(48px)* 2));
    }
}