.icon {
    width: rem(88px);
    height: rem(24px);
    color: var(--mantine-primary-color-filled);

    @media (min-width: $mantine-breakpoint-md) {
        width: rem(148px);
        height: rem(40px);
    }
}